@charset "UTF-8";
/*  RESET CSS
------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
}

html {
  overflow-y: scroll;
  cursor: default;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-print-color-adjust: exact;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
}

ol, ul, li {
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: normal;
}

td, th {
  padding: 0;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  cursor: pointer;
}

a:active, a:hover {
  outline-width: 0;
}

a:focus, *:focus {
  outline: none;
}

img {
  border-style: none;
  vertical-align: bottom;
  image-rendering: -webkit-optimize-contrast;
}

[type="text"],
[type="tel"],
[type="email"],
[type="date"],
[type="number"],
[type="submit"],
[type="button"],
button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input, select {
  vertical-align: middle;
}

select {
  border: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"], [role="button"] {
  cursor: pointer;
}

/* IEのinput要素に出てくるマークを消去 */
input::-ms-clear {
  visibility: hidden;
}

/* IEのinput要素に出てくるマークを消去 */
input::-ms-reveal {
  visibility: hidden;
}

/*  THEME CSS
------------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  color: #333333;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.46667vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .05em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

@media screen and (min-width: 751px) {
  body {
    font-size: 1.04167vw;
  }
}

@media screen and (min-width: 1441px) {
  body {
    font-size: 1.5em;
  }
}

a.on--opa {
  display: inline-block;
  transition: opacity .3s;
}

a.on--opa:hover {
  opacity: 0.7;
}

/*  header
-------------------------------------------------------*/
.header {
  position: relative;
}

.header-top {
  position: relative;
  background-color: #ffffff;
}

.header-top > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 92vw;
  height: 18.4vw;
}

.header-top-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26.66667vw;
}

.header-logo {
  width: 26.66667vw;
}

.header-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-login {
  margin-right: 2.66667vw;
  width: 21.33333vw;
}

.header-apply {
  width: 36.66667vw;
}

@media screen and (min-width: 751px) {
  .header-top > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 83.33333vw;
    height: 5.55556vw;
  }
  .header-top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35.41667vw;
  }
  .header-logo {
    width: 11.80556vw;
  }
  .header-top-right {
    justify-content: flex-end;
  }
  .header-login {
    margin: 0 1.38889vw;
    width: 8.33333vw;
  }
  .header-apply {
    width: 12.84722vw;
  }
}

@media screen and (min-width: 1441px) {
  .header-top > div {
    width: 1200px;
    height: 80px;
  }
  .header-top-left {
    width: 510px;
  }
  .header-logo {
    width: 170px;
  }
  .header-login {
    margin: 0 20px;
    width: 120px;
  }
  .header-apply {
    width: 185px;
  }
}

/* ------------------------------------------- login btn - */
.login-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: .1em;
  width: 100%;
  height: 8vw;
  border-color: #ff8003;
  border-style: solid;
  border-width: 0.26667vw;
  border-radius: 1.33333vw;
  color: #ff8003;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.46667vw;
  font-weight: 700;
  transition: .3s;
}

.login-btn:hover {
  background-color: #ff8003;
  color: #ffffff;
}

@media screen and (min-width: 751px) {
  .login-btn {
    height: 2.43056vw;
    border-width: 0.06944vw;
    border-radius: 0.34722vw;
    font-size: 1.04167vw;
  }
}

@media screen and (min-width: 1441px) {
  .login-btn {
    height: 35px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    font-size: 1.5rem;
  }
}

/* ------------------------------------------- header apply btn - */
.btn-header-apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vw;
  background-color: #00c068;
  box-shadow: 0 1.33333vw 0 0 #00914f;
  color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.46667vw;
  font-weight: 700;
  border-radius: 1.33333vw;
  text-align: center;
  letter-spacing: .15em;
  transition: .3s;
}

.btn-header-apply span {
  color: #fcff00;
}

.btn-header-apply:hover {
  box-shadow: none;
  transform: translate3d(0, 1.33333vw, 0);
}

@media screen and (min-width: 751px) {
  .btn-header-apply {
    height: 3.81944vw;
    font-size: 1.04167vw;
    border-radius: 2.08333vw;
    box-shadow: 0 0.34722vw 0 0 #00914f;
  }
  .btn-header-apply:hover {
    transform: translate3d(0, 0.34722vw, 0);
  }
}

@media screen and (min-width: 1441px) {
  .btn-header-apply {
    height: 55px;
    font-size: 15px;
    font-size: 1.5rem;
    border-radius: 30px;
    box-shadow: 0 5px 0 #00914f;
  }
  .btn-header-apply:hover {
    transform: translate3d(0, 5px, 0);
  }
}

/* ------------------------------------------- layout - */
.sec {
  position: relative;
}

/*  footer
-------------------------------------------------------*/
.footer-top {
  position: relative;
  padding: 18.66667vw 4vw 6vw 4vw;
  background-color: #f8f8f8;
}

.footer-navi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-navi a {
  position: relative;
  padding: 0 1.5em;
  color: #000000;
  font-size: 4vw;
  font-weight: 500;
  transition: color .3s;
}

.footer-navi a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.footer-navi a:last-child:after {
  content: none;
}

.footer-navi a:hover {
  color: #ff8003;
}

.footer-logo {
  margin: 0 auto 12vw auto;
  width: 45.33333vw;
}

.footer-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26.66667vw;
  background-color: #000000;
  color: #ffffff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 3.46667vw;
  font-weight: 900;
}

@media screen and (max-width: 750px) {
  .footer-navi a:last-child {
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 751px) {
  .footer-top {
    padding: 4.86111vw 0 2.08333vw 0;
  }
  .footer-logo {
    margin: 0 auto 3.125vw auto;
    width: 11.80556vw;
  }
  .footer-navi a {
    font-size: 1.04167vw;
  }
  .footer-bottom {
    height: 6.94444vw;
    font-size: 0.90278vw;
  }
}

@media screen and (min-width: 1441px) {
  .footer-top {
    padding: 70px 0 30px 0;
  }
  .footer-logo {
    margin-bottom: 45px;
    width: 170px;
  }
  .footer-navi a {
    font-size: 15px;
    font-size: 1.5rem;
  }
  .footer-bottom {
    height: 100px;
    font-size: 13px;
    font-size: 1.3rem;
  }
}

/* ------------------------------------------- floating - */
.floating {
  background: rgba(255, 255, 255, 0.5);
  padding-top: 2.66667vw;
  padding-bottom: 2.66667vw;
  width: 100%;
  position: fixed;
  bottom: 0;
  transition: opacity .3s;
  z-index: 999;
}

.floating a {
  margin: auto;
  position: relative;
  display: block;
  width: 84vw;
  height: 13.86667vw;
}

@media screen and (min-width: 751px) {
  .floating {
    padding-top: 0.69444vw;
    padding-bottom: 0.69444vw;
  }
  .floating a {
    width: 31.94444vw;
    height: 5.27778vw;
  }
}

@media screen and (min-width: 1441px) {
  .floating {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .floating a {
    width: 460px;
    height: 76px;
  }
}

/*  #hero
-------------------------------------------------------*/
.hero {
  position: relative;
  z-index: 3;
}

.hero-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.hero-image {
  display: none;
}

.hero-period {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13.33333vw;
  background-color: #ff8003;
  color: #ffffff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 4.8vw;
  font-weight: 800;
  letter-spacing: 0;
}

.hero-period span {
  font-size: 5.86667vw;
}

@media screen and (min-width: 751px) {
  .hero {
    background-image: url(../img/hero/bg.jpg);
    background-image: image-set(url(../img/hero/bg.jpg) 1x, url(../img/hero/bg-2x.jpg) 2x);
    background-image: -webkit-image-set(url(../img/hero/bg.jpg) 1x, url(../img/hero/bg-2x.jpg) 2x);
    background-size: cover;
    background-position: center;
  }
  .hero-content {
    width: 85.06944vw;
  }
  .hero-image {
    position: absolute;
    right: 1.04167vw;
    bottom: -4.16667vw;
    display: block;
    width: 25.90278vw;
    z-index: 2;
  }
  .hero-period {
    height: 4.16667vw;
    font-size: 1.25vw;
  }
  .hero-period span {
    font-size: 1.94444vw;
  }
}

@media screen and (min-width: 1441px) {
  .hero-content {
    width: 1225px;
  }
  .hero-image {
    right: 15px;
    bottom: -60px;
    width: 373px;
  }
  .hero-period {
    height: 60px;
    font-size: 18px;
    font-size: 1.8rem;
  }
  .hero-period span {
    font-size: 28px;
    font-size: 2.8rem;
  }
}

/*  #whats
-------------------------------------------------------*/
.sec--whats {
  padding: 10vw 0 28vw 0;
  background-color: #ffffff;
  z-index: 3;
}

.whats {
  position: relative;
  margin: 0 auto;
  width: 92.53333vw;
  z-index: 2;
}

.whats:after {
  content: '';
  position: absolute;
  right: 4.66667vw;
  bottom: -28vw;
  display: inline-block;
  width: 29.73333vw;
  height: 32.13333vw;
  background-image: url(../img/whats/businessman_sp.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.whats-head {
  margin-bottom: 6vw;
}

.whats-head-en {
  margin: 0 auto 4.66667vw auto;
  width: 90.26667vw;
}

.whats-head-jp {
  position: relative;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 6.4vw;
  font-weight: 900;
  text-align: center;
  letter-spacing: .15em;
}

.whats-content p {
  font-size: 3.46667vw;
  line-height: 1.84em;
}

.whats-content p span.bold {
  font-weight: 700;
}

.whats-content p span.color {
  color: #ff8003;
}

@media screen and (min-width: 751px) {
  .sec--whats {
    padding: 5.20833vw 0;
  }
  .whats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69.44444vw;
  }
  .whats:after {
    right: -6.94444vw;
    bottom: -5.20833vw;
    width: 14.86111vw;
    height: 15.97222vw;
    background-image: url(../img/whats/businessman.png);
    background-image: image-set(url(../img/whats/businessman.png) 1x, url(../img/whats/businessman-2x.png) 2x);
    background-image: -webkit-image-set(url(../img/whats/businessman.png) 1x, url(../img/whats/businessman-2x.png) 2x);
  }
  .whats-head {
    margin-bottom: 0;
    width: 23.54167vw;
  }
  .whats-head-en {
    margin-bottom: 2.08333vw;
    width: 100%;
  }
  .whats-head-jp {
    font-size: 1.66667vw;
  }
  .whats-content {
    width: 40.27778vw;
  }
  .whats-content p {
    font-size: 1.25vw;
    line-height: 2.66em;
  }
}

@media screen and (min-width: 1441px) {
  .sec--whats {
    padding: 75px 0;
  }
  .whats {
    width: 1000px;
  }
  .whats:after {
    right: -100px;
    bottom: -75px;
    width: 214px;
    height: 230px;
  }
  .whats-head {
    width: 339px;
  }
  .whats-head-en {
    margin-bottom: 30px;
  }
  .whats-head-jp {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .whats-content {
    width: 580px;
  }
  .whats-content p {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

/*  #reason
-------------------------------------------------------*/
.sec--reason {
  z-index: 3;
}

.sechead--reason .sechead-jp span.accent {
  background: linear-gradient(transparent 50%, #fcff00 50%);
}

.sechead--reason .sechead-jp span.num {
  color: #ff8003;
  font-size: 1.33em;
}

.sechead--reason .sechead-en {
  color: #ff8003;
}

.reason-box {
  position: relative;
  margin: 0 auto;
  padding: 7.33333vw 4vw;
  width: 92.53333vw;
  border-color: #ff8003;
  background-color: #fffcf6;
  border-style: solid;
  border-width: 0.8vw;
  border-radius: 5.33333vw;
}

.reason {
  margin-top: 6.66667vw;
}

.reason-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.66667vw;
}

.reason-head-num {
  width: 16.53333vw;
}

.reason > li:nth-child(1) .reason-head-num img {
  width: 15.06667vw;
}

.reason > li:nth-child(2) .reason-head-num img {
  width: 16.53333vw;
}

.reason > li:nth-child(3) .reason-head-num img {
  width: 16.4vw;
}

.reason-head-jp {
  width: 63.33333vw;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 5.73333vw;
  font-weight: 800;
  line-height: 1.33em;
  letter-spacing: .05em;
}

.reason-image {
  margin-bottom: 3.33333vw;
}

.reason-image img {
  border-radius: 5.33333vw;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}

.reason-content p {
  font-size: 3.46667vw;
  line-height: 1.8em;
}

@media screen and (max-width: 750px) {
  .sechead--reason .sechead-jp,
  .sechead--reason .sechead-en {
    text-align: left;
  }
  .reason > li:nth-child(n + 2) {
    margin-top: 6.66667vw;
  }
}

@media screen and (min-width: 751px) {
  .sec--reason {
    padding: 0 0 4.16667vw 0;
  }
  .reason-box {
    padding: 4.16667vw 5.55556vw 6.25vw 5.55556vw;
    width: 95.83333vw;
    border-width: 0.41667vw;
    border-radius: 1.38889vw;
  }
  .reason {
    display: flex;
    justify-content: space-between;
    margin-top: 5.55556vw;
  }
  .reason > li {
    width: 26.38889vw;
  }
  .reason-head {
    margin-bottom: 1.38889vw;
  }
  .reason-head-num {
    width: 4.44444vw;
  }
  .reason > li:nth-child(1) .reason-head-num img {
    width: 4.02778vw;
  }
  .reason > li:nth-child(2) .reason-head-num img {
    width: 4.44444vw;
  }
  .reason > li:nth-child(3) .reason-head-num img {
    width: 4.375vw;
  }
  .reason-head-jp {
    width: 21.18056vw;
    font-size: 1.66667vw;
  }
  .reason-image {
    margin-bottom: 1.38889vw;
  }
  .reason-image img {
    border-radius: 2.77778vw;
  }
  .reason-content {
    padding: 0 1.73611vw;
  }
  .reason-content p {
    font-size: 1.25vw;
  }
}

@media screen and (min-width: 1441px) {
  .sec--reason {
    padding: 0 0 60px 0;
  }
  .reason-box {
    padding: 60px 80px 90px 80px;
    width: 1380px;
    border-width: 6px;
    border-radius: 20px;
  }
  .reason {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .reason > li {
    width: 380px;
  }
  .reason-head {
    margin-bottom: 20px;
  }
  .reason-head-num {
    width: 64px;
  }
  .reason > li:nth-child(1) .reason-head-num img {
    width: 58px;
  }
  .reason > li:nth-child(2) .reason-head-num img {
    width: 64px;
  }
  .reason > li:nth-child(3) .reason-head-num img {
    width: 63px;
  }
  .reason-head-jp {
    width: 305px;
    font-size: 24px;
    font-size: 2.4rem;
  }
  .reason-image {
    margin-bottom: 20px;
  }
  .reason-image img {
    border-radius: 40px;
  }
  .reason-content {
    padding: 0 25px;
  }
  .reason-content p {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

/*  #subject
-------------------------------------------------------*/
.sec--subject {
  padding: 8vw 0 5.33333vw 0;
  z-index: 2;
}

.sec--subject:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32vw;
  width: 100%;
  height: calc(100% + 186.66667vw);
  background-image: url(../img/subject/bg_sp.png);
  background-size: cover;
  background-position: center bottom;
  z-index: -1;
}

.sechead--subject .sechead-jp {
  color: #ffffff;
}

.sechead--subject .sechead-en {
  color: #fcff00;
}

.subject {
  margin: 10.66667vw auto 0 auto;
  width: 92.53333vw;
}

.subject > li {
  position: relative;
  padding: 5.33333vw 4vw 6vw 4vw;
  background-color: #ffffff;
  border-radius: 2.66667vw;
}

.subject > li:nth-child(n + 2) {
  margin-top: 6.66667vw;
}

.subject-image {
  display: flex;
  align-items: center;
}

.subject > li:nth-child(1) .subject-image img {
  width: 10.93333vw;
}

.subject > li:nth-child(2) .subject-image img {
  width: 14.13333vw;
}

.subject > li:nth-child(3) .subject-image img {
  width: 13.06667vw;
}

.subject > li:nth-child(4) .subject-image img {
  width: 11.46667vw;
}

.subject > li:nth-child(5) .subject-image img {
  width: 9.86667vw;
}

.subject-head {
  position: relative;
  padding-bottom: 1em;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 4.8vw;
  font-weight: 900;
  letter-spacing: .05em;
  line-height: 1.5em;
}

.subject-head:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1.46667vw;
  background-image: url(../img/common/line_sp.png);
  background-size: auto 1.46667vw;
  background-repeat: repeat-x;
}

.subject-desc {
  margin-top: 1em;
}

.subject-desc p {
  font-size: 3.46667vw;
  line-height: 2em;
}

@media screen and (max-width: 750px) {
  .subject-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subject-image {
    width: 14.13333vw;
  }
  .subject-head {
    width: 67.33333vw;
  }
}

@media screen and (min-width: 751px) {
  .sec--subject {
    padding: 4.16667vw 0 3.47222vw 0;
  }
  .sec--subject:before {
    bottom: -11.80556vw;
    height: calc(100% + 43.75vw);
    background-image: url(../img/subject/bg.png);
    background-image: image-set(url(../img/subject/bg.png) 1x, url(../img/subject/bg-2x.png) 2x);
    background-image: -webkit-image-set(url(../img/subject/bg.png) 1x, url(../img/subject/bg-2x.png) 2x);
  }
  .subject {
    margin: 3.125vw auto 0 auto;
    width: 69.44444vw;
  }
  .subject > li {
    padding: 2.77778vw 3.47222vw 2.77778vw 16.66667vw;
    border-radius: 1.38889vw;
  }
  .subject > li:nth-child(n + 2) {
    margin-top: 1.04167vw;
  }
  .subject-image {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    width: 16.31944vw;
    height: 100%;
  }
  .subject > li:nth-child(1) .subject-image img {
    width: 6.66667vw;
  }
  .subject > li:nth-child(2) .subject-image img {
    width: 7.77778vw;
  }
  .subject > li:nth-child(3) .subject-image img {
    width: 9.58333vw;
  }
  .subject > li:nth-child(4) .subject-image img {
    width: 5.69444vw;
  }
  .subject > li:nth-child(5) .subject-image img {
    width: 7.63889vw;
  }
  .subject-head {
    font-size: 1.66667vw;
  }
  .subject-head:after {
    height: 0.41667vw;
    background-image: url(../img/common/line.png);
    background-image: image-set(url(../img/common/line.png) 1x, url(../img/common/line-2x.png) 2x);
    background-image: -webkit-image-set(url(../img/common/line.png) 1x, url(../img/common/line-2x.png) 2x);
    background-size: auto 0.41667vw;
  }
  .subject-desc p {
    font-size: 1.25vw;
  }
}

@media screen and (min-width: 1441px) {
  .sec--subject {
    padding: 60px 0 50px 0;
  }
  .sec--subject:before {
    bottom: -170px;
    height: calc(100% + 630px);
  }
  .subject {
    margin: 45px auto 0 auto;
    width: 1000px;
  }
  .subject > li {
    padding: 40px 50px 40px 240px;
    border-radius: 20px;
  }
  .subject > li:nth-child(n + 2) {
    margin-top: 15px;
  }
  .subject-image {
    width: 235px;
  }
  .subject > li:nth-child(1) .subject-image img {
    width: 96px;
  }
  .subject > li:nth-child(2) .subject-image img {
    width: 112px;
  }
  .subject > li:nth-child(3) .subject-image img {
    width: 138px;
  }
  .subject > li:nth-child(4) .subject-image img {
    width: 82px;
  }
  .subject > li:nth-child(5) .subject-image img {
    width: 110px;
  }
  .subject-head {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .subject-head:after {
    height: 6px;
    background-size: auto 6px;
  }
  .subject-desc p {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

/*  #campaign
-------------------------------------------------------*/
.sec--campaign {
  padding: 24vw 0 24vw 0;
  background-color: #fff2da;
}

.campaign {
  position: relative;
  margin: 0 auto;
  width: 92.53333vw;
}

.campaign > div {
  position: relative;
}

.campaign-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 9.33333vw auto;
  width: 37.33333vw;
  height: 37.33333vw;
  background-color: #ff8003;
  border-radius: 50%;
  color: #ffffff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 6.4vw;
  font-weight: 900;
}

.campaign-head {
  margin-bottom: 6.66667vw;
  /*padding-left: vw-sp(15);*/
  font-family: "M PLUS 1p", sans-serif;
  font-size: 8.26667vw;
  font-weight: 900;
  line-height: 1.66em;
  letter-spacing: .05em;
}

.campaign-head span.num {
  font-size: 13.73333vw;
}

.campaign-head span.big {
  font-size: 12.93333vw;
}

.campaign-head span.hosoku {
  position: relative;
  top: -.5em;
  left: .3em;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.2vw;
  font-weight: 400;
  line-height: 1em;
}

.campaign-apply {
  text-align: center;
}

.campaign-apply-head {
  position: relative;
  display: inline-block;
  margin-bottom: 1.15em;
  padding: 0 .5em 0 1em;
  font-size: 6.4vw;
  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: .15em;
}

.campaign-apply-head span.accent {
  background: linear-gradient(transparent 50%, #fcff00 50%);
}

.campaign-apply-head:before,
.campaign-apply-head:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0.53333vw;
  height: 40%;
  background-color: #333333;
}

.campaign-apply-head:before {
  left: 0;
  transform: rotate(-35deg);
}

.campaign-apply-head:after {
  right: 0;
  transform: rotate(35deg);
}

.campaign-apply-btn {
  margin: 0 auto;
  width: 92vw;
}

@media screen and (min-width: 751px) {
  .sec--campaign {
    padding: 9.72222vw 0 5.55556vw 0;
  }
  .campaign {
    width: 69.44444vw;
  }
  .campaign:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5.55556vw;
    display: inline-block;
    width: 29.86111vw;
    height: 27.91667vw;
    background-image: url(../img/campaign/businessman.png);
    background-image: image-set(url(../img/campaign/businessman.png) 1x, url(../img/campaign/businessman-2x.png) 2x);
    background-image: -webkit-image-set(url(../img/campaign/businessman.png) 1x, url(../img/campaign/businessman-2x.png) 2x);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .campaign > div {
    margin-left: auto;
    width: 36.11111vw;
  }
  .campaign-label {
    position: absolute;
    top: 2.08333vw;
    left: -7.98611vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 13.88889vw;
    height: 13.88889vw;
    font-size: 2.5vw;
  }
  .campaign-head {
    margin-bottom: 2.43056vw;
    /*padding-left: vw-pc(115);*/
    font-size: 2.5vw;
  }
  .campaign-head span.num {
    font-size: 4.16667vw;
  }
  .campaign-head span.big {
    font-size: 3.88889vw;
  }
  .campaign-head span.hosoku {
    font-size: 0.90278vw;
  }
  .campaign-apply-head {
    font-size: 1.66667vw;
  }
  .campaign-apply-head:before,
  .campaign-apply-head:after {
    height: 50%;
    width: 1px;
  }
  .campaign-apply-btn {
    width: 31.94444vw;
  }
}

@media screen and (min-width: 1441px) {
  .sec--campaign {
    padding: 140px 0 80px 0;
  }
  .campaign {
    width: 1000px;
  }
  .campaign:before {
    bottom: -80px;
    width: 430px;
    height: 402px;
  }
  .campaign > div {
    width: 520px;
  }
  .campaign-label {
    top: 30px;
    left: -115px;
    width: 200px;
    height: 200px;
    font-size: 36px;
    font-size: 3.6rem;
  }
  .campaign-head {
    margin-bottom: 35px;
    /*padding-left: 115px;*/
    font-size: 36px;
    font-size: 3.6rem;
  }
  .campaign-head span.num {
    font-size: 60px;
    font-size: 6.0rem;
  }
  .campaign-head span.big {
    font-size: 56px;
    font-size: 5.6rem;
  }
  .campaign-head span.hosoku {
    font-size: 13px;
    font-size: 1.3rem;
  }
  .campaign-apply-head {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .campaign-apply-btn {
    width: 460px;
  }
}

/*  #voice
-------------------------------------------------------*/
.sec--voice {
  padding: 22.66667vw 0 6.66667vw 0;
  background-color: #dcfeee;
  z-index: 2;
}

.sec--voice:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -26.66667vw;
  width: 100%;
  height: 100%;
  background-image: url(../img/voice/bg_sp.png);
  background-size: 100%;
  background-position: center bottom;
  z-index: -1;
}

.sechead--voice .sechead-jp span {
  color: #00c068;
}

.sechead--voice .sechead-en {
  color: #00c068;
}

.voice {
  margin: 5.33333vw auto 0 auto;
  padding: 16vw 0 0vw 0;
  width: 92.53333vw;
}

.voice > li {
  position: relative;
  padding: 8vw 5.33333vw 9.33333vw 5.33333vw;
  background-color: #ffffff;
  border-color: #00c068;
  border-style: solid;
  border-width: 1.06667vw;
  border-radius: 5.33333vw;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}

.voice-icon {
  position: absolute;
  top: -13.33333vw;
  left: 4vw;
  width: 26.66667vw;
  height: 26.66667vw;
  background-color: #ffffff;
  border-color: #00c068;
  border-style: solid;
  border-width: 1.06667vw;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.voice-icon > div {
  position: absolute;
  left: 50%;
  bottom: -2.66667vw;
  transform: translateX(-50%);
}

.voice > li:nth-child(1) .voice-icon > div {
  width: 18.66667vw;
}

.voice > li:nth-child(2) .voice-icon > div {
  width: 15.2vw;
}

.voice > li:nth-child(3) .voice-icon > div {
  width: 18vw;
}

.voice > li:nth-child(4) .voice-icon > div {
  width: 18vw;
}

.voice-person {
  margin: 0 0 3.33333vw 34vw;
  color: #00c068;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 4.8vw;
  font-weight: 900;
  line-height: 2.55em;
}

.voice-head {
  position: relative;
  margin-bottom: .5em;
  color: #ff8003;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 4.8vw;
  font-weight: 900;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: .05em;
}

.voice-content p {
  font-size: 3.46667vw;
  line-height: 2.13em;
}

@media screen and (max-width: 750px) {
  .voice {
    height: 190vw;
    overflow-y: hidden;
  }
  .voice > li:nth-child(n + 2) {
    margin-top: 20vw;
  }
  .voice-more {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.33333vw auto 0 auto;
    width: 92vw;
    height: 18.66667vw;
    background-color: #ffffff;
    border-color: #00c068;
    border-style: solid;
    border-width: 0.53333vw;
    border-radius: 9.33333vw;
    color: #00c068;
    font-size: 5.86667vw;
    font-weight: 700;
    letter-spacing: .15em;
    z-index: 2;
  }
  .voice-more:before {
    content: '';
    position: absolute;
    bottom: calc(100% + 0.53333vw);
    left: 50%;
    width: 100vw;
    height: 77.33333vw;
    background: linear-gradient(to top, #dcfeee, rgba(255, 255, 255, 0));
    transform: translateX(-50%);
  }
  .voice-more.is-active:before {
    content: none;
  }
}

@media screen and (min-width: 751px) {
  .sec--voice {
    padding: 8.33333vw 0 6.94444vw 0;
  }
  .sec--voice:before {
    bottom: -9.02778vw;
    background-image: url(../img/voice/bg.png);
    background-image: image-set(url(../img/voice/bg.png) 1x, url(../img/voice/bg-2x.png) 2x);
    background-image: -webkit-image-set(url(../img/voice/bg.png) 1x, url(../img/voice/bg-2x.png) 2x);
  }
  .voice {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 7.29167vw auto 0 auto;
    padding: 0;
    width: 69.44444vw;
  }
  .voice > li {
    padding: 1.73611vw 2.08333vw 2.43056vw 2.08333vw;
    width: 33.33333vw;
    border-width: 0.27778vw;
    border-radius: 1.38889vw;
  }
  .voice > li:nth-child(n + 3) {
    margin-top: 6.25vw;
  }
  .voice-icon {
    top: -4.51389vw;
    left: 2.08333vw;
    width: 9.02778vw;
    height: 9.02778vw;
    border-width: 0.27778vw;
  }
  .voice-icon > div {
    bottom: -1.04167vw;
  }
  .voice > li:nth-child(1) .voice-icon > div {
    width: 6.25vw;
  }
  .voice > li:nth-child(2) .voice-icon > div {
    width: 5.27778vw;
  }
  .voice > li:nth-child(3) .voice-icon > div {
    width: 5.76389vw;
  }
  .voice > li:nth-child(4) .voice-icon > div {
    width: 5.76389vw;
  }
  .voice-person {
    margin: 0 0 0.69444vw 12.15278vw;
    font-size: 1.25vw;
  }
  .voice-head {
    font-size: 1.59722vw;
    text-align: left;
  }
  .voice-content p {
    font-size: 1.04167vw;
  }
}

@media screen and (min-width: 1441px) {
  .sec--voice {
    padding: 120px 0 80px 0;
  }
  .sec--voice:before {
    bottom: -145px;
  }
  .voice {
    margin: 105px auto 0 auto;
    width: 1000px;
  }
  .voice > li {
    padding: 25px 30px 35px 30px;
    width: 480px;
    border-width: 4px;
    border-radius: 20px;
  }
  .voice > li:nth-child(n + 3) {
    margin-top: 90px;
  }
  .voice-icon {
    top: -65px;
    left: 30px;
    width: 130px;
    height: 130px;
    border-width: 4px;
  }
  .voice-icon > div {
    bottom: -15px;
  }
  .voice > li:nth-child(1) .voice-icon > div {
    width: 90px;
  }
  .voice > li:nth-child(2) .voice-icon > div {
    width: 76px;
  }
  .voice > li:nth-child(3) .voice-icon > div {
    width: 83px;
  }
  .voice > li:nth-child(4) .voice-icon > div {
    width: 83px;
  }
  .voice-person {
    margin: 0 0 10px 175px;
    font-size: 18px;
    font-size: 1.8rem;
  }
  .voice-head {
    font-size: 23px;
    font-size: 2.3rem;
  }
  .voice-content p {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

/*  #faq
-------------------------------------------------------*/
.sec--faq {
  padding: 30.66667vw 0 16.66667vw 0;
  background-color: #fffcf6;
}

.sechead--faq .sechead-en {
  color: #ff8003;
}

.faq {
  margin: 10.66667vw auto 0 auto;
  width: 92.53333vw;
}

.faq > li {
  padding: 3.33333vw 4vw 6vw 16vw;
  background-color: #ffffff;
  border-radius: 2.66667vw;
}

.faq > li:nth-child(n + 2) {
  margin-top: 6.66667vw;
}

.faq-head {
  position: relative;
  padding: 1em 0;
  color: #ff8003;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 4vw;
  font-weight: 900;
  letter-spacing: .05em;
  line-height: 1.5em;
}

.faq-head:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1.46667vw;
  background-image: url(../img/common/line_sp.png);
  background-size: auto 1.46667vw;
  background-repeat: repeat-x;
}

.faq-answer {
  position: relative;
  margin-top: 1em;
}

.faq-answer p {
  font-weight: 700;
  line-height: 2.3em;
}

.faq-head:before,
.faq-answer:before {
  position: absolute;
  left: -12.66667vw;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 9.6vw;
  font-weight: 900;
}

.faq-head:before {
  content: 'Q';
  top: 50%;
  color: #ff8003;
  transform: translateY(-50%);
}

.faq-answer:before {
  content: 'A';
  top: 0;
  color: #00c068;
}

@media screen and (min-width: 751px) {
  .sec--faq {
    padding: 13.88889vw 0 6.94444vw 0;
  }
  .faq {
    margin: 3.125vw auto 0 auto;
    width: 69.44444vw;
  }
  .faq > li {
    padding: 3.125vw 5.55556vw 3.125vw 8.68056vw;
    border-radius: 0.69444vw;
  }
  .faq > li:nth-child(n + 2) {
    margin-top: 2.08333vw;
  }
  .faq-head {
    font-size: 1.25vw;
  }
  .faq-head:after {
    height: 0.41667vw;
    background-image: url(../img/common/line.png);
    background-image: image-set(url(../img/common/line.png) 1x, url(../img/common/line-2x.png) 2x);
    background-image: -webkit-image-set(url(../img/common/line.png) 1x, url(../img/common/line-2x.png) 2x);
    background-size: auto 0.41667vw;
  }
  .faq-head:before,
  .faq-answer:before {
    left: -3.125vw;
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1441px) {
  .sec--faq {
    padding: 200px 0 100px 0;
  }
  .faq {
    margin: 45px auto 0 auto;
    width: 1000px;
  }
  .faq > li {
    padding: 45px 80px 45px 125px;
    border-radius: 10px;
  }
  .faq > li:nth-child(n + 2) {
    margin-top: 30px;
  }
  .faq-head {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .faq-head:after {
    height: 6px;
    background-size: auto 6px;
  }
  .faq-head:before,
  .faq-answer:before {
    left: -45px;
    font-size: 36px;
    font-size: 3.6rem;
  }
}

/*  #entry
-------------------------------------------------------*/
.sec--entry {
  padding: 13.33333vw 0;
}

.entry {
  margin: 0 auto;
  padding: 10vw 4.66667vw 12vw 4.66667vw;
  width: 92.53333vw;
  background-color: #fff8ec;
  border-color: #ff8003;
  border-style: solid;
  border-width: 1.6vw;
  border-radius: 3.46667vw;
}

.entry-content {
  margin-bottom: 4vw;
}

.entry-title {
  margin-bottom: 6.66667vw;
  font-size: 4.8vw;
  font-weight: 700;
  text-align: center;
  line-height: 1.8em;
}

.entry-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 6vw auto;
  width: 100%;
}

.entry-form dt {
  margin-bottom: 1em;
  width: 100%;
  font-size: 4.26667vw;
  font-weight: 700;
}

.entry-form dd {
  width: 100%;
}

.entry-btn {
  margin: 0 auto;
  width: 80vw;
}

@media screen and (max-width: 750px) {
  .entry-btn .btn-apply {
    font-size: 4.8vw;
  }
}

@media screen and (min-width: 751px) {
  .sec--entry {
    padding: 6.59722vw 0 7.98611vw 0;
  }
  .entry {
    padding: 3.125vw 1.38889vw 3.81944vw 1.38889vw;
    width: 69.44444vw;
    border-width: 0.55556vw;
    border-radius: 0.90278vw;
  }
  .entry-content {
    margin-bottom: 1.73611vw;
  }
  .entry-title {
    margin-bottom: 1.38889vw;
    font-size: 1.25vw;
  }
  .entry-form {
    flex-wrap: nowrap;
    margin: 0 auto 1.38889vw auto;
    width: 43.75vw;
  }
  .entry-form dt {
    margin-bottom: 0;
    width: 10.41667vw;
    font-size: 1.04167vw;
  }
  .entry-form dd {
    width: 33.33333vw;
  }
  .entry-btn {
    width: 31.94444vw;
  }
}

@media screen and (min-width: 1441px) {
  .sec--entry {
    padding: 100px;
  }
  .entry {
    padding: 45px 20px 55px 20px;
    width: 1000px;
    border-width: 8px;
    border-radius: 13px;
  }
  .entry-content {
    margin-bottom: 25px;
  }
  .entry-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-size: 1.8rem;
  }
  .entry-form {
    margin: 0 auto 20px auto;
    width: 630px;
  }
  .entry-form dt {
    width: 150px;
    font-size: 15px;
    font-size: 1.5rem;
  }
  .entry-form dd {
    width: 480px;
  }
  .entry-btn {
    width: 460px;
  }
}

/*  #apply
-------------------------------------------------------*/
.sec--apply {
  z-index: 3;
}

.sec--apply01 {
  padding: 7.33333vw 0 8vw 0;
  background-color: #fffcf6;
}

.sec--apply02 {
  padding: 16.66667vw 0 19.33333vw 0;
  background-image: url(../img/apply/bg_sp.jpg);
  background-size: cover;
  background-position: center;
}

.apply {
  margin: 0 auto;
  width: 92.53333vw;
  text-align: center;
}

.apply-head {
  position: relative;
  display: inline-block;
  margin-bottom: 1.15em;
  padding: 0 .5em 0 1em;
  font-size: 6.4vw;
  font-weight: 700;
  letter-spacing: .15em;
}

.apply-head span.big {
  font-size: 1.5em;
}

.sec--apply01 .apply-head {
  color: #00c068;
}

.sec--apply01 .apply-head span.big {
  position: relative;
  left: -.05em;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.sec--apply02 .apply-head {
  color: #ffffff;
}

.sec--apply02 .apply-head span.accent {
  color: #fcff00;
}

.apply-head:before,
.apply-head:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 50%;
}

.apply-head:before {
  left: 0;
  transform: rotate(-35deg);
}

.apply-head:after {
  right: 0;
  transform: rotate(35deg);
}

.sec--apply01 .apply-head:before,
.sec--apply01 .apply-head:after {
  background-color: #00c068;
}

.sec--apply02 .apply-head:before,
.sec--apply02 .apply-head:after {
  background-color: #ffffff;
}

.apply-btn {
  margin: 0 auto;
  width: 92vw;
}

.apply-caution {
  margin: 6vw auto 0 auto;
  width: 92vw;
}

.apply-caution p {
  margin-bottom: 1.38em;
  font-size: 3.46667vw;
}

.apply-caution-list > li {
  padding-left: 1em;
  font-size: 3.46667vw;
  text-indent: -1em;
  line-height: 1.38em;
}

.apply-caution-list > li:nth-child(n + 2) {
  margin-top: 1.28em;
}

.apply-caution-list > li:before {
  content: '・';
}

@media screen and (min-width: 751px) {
  .sec--apply01 {
    padding: 2.77778vw 0 2.43056vw 0;
  }
  .sec--apply02 {
    padding: 6.59722vw 0 7.98611vw 0;
  }
  .apply {
    width: 69.44444vw;
  }
  .apply-head {
    font-size: 1.66667vw;
  }
  .apply-btn {
    width: 31.94444vw;
  }
  .apply-caution {
    margin: 1.73611vw auto 0 auto;
    width: 45.13889vw;
  }
  .apply-caution p {
    font-size: 1.04167vw;
  }
  .apply-caution-list > li {
    font-size: 1.04167vw;
  }
}

@media screen and (min-width: 1441px) {
  .sec--apply01 {
    padding: 40px 0 35px 0;
  }
  .sec--apply02 {
    padding: 95px 0 115px 0;
  }
  .apply {
    width: 1000px;
  }
  .apply-head {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .apply-btn {
    width: 460px;
  }
  .apply-caution {
    margin: 25px auto 0 auto;
    width: 650px;
  }
  .apply-caution p {
    font-size: 15px;
    font-size: 1.5rem;
  }
  .apply-caution-list > li {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

/* ------------------------------------------- sechead - */
.sechead {
  margin: 0 auto;
  width: 92.53333vw;
}

.sechead-jp {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 7.2vw;
  font-weight: 900;
  text-align: center;
  text-indent: .15em;
  line-height: 1.65em;
  letter-spacing: .15em;
}

.sechead-en {
  margin-top: 1em;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 4.8vw;
  font-weight: 900;
  text-align: center;
  text-indent: .15em;
  text-transform: uppercase;
  letter-spacing: .15em;
}

@media screen and (min-width: 751px) {
  .sechead {
    width: 69.44444vw;
  }
  .sechead-jp {
    font-size: 2.5vw;
  }
  .sechead-en {
    margin-top: 2em;
    font-size: 1.25vw;
  }
}

@media screen and (min-width: 1441px) {
  .sechead {
    width: 1000px;
  }
  .sechead-jp {
    font-size: 36px;
    font-size: 3.6rem;
  }
  .sechead-en {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

/*  button
-------------------------------------------------------*/
/* ------------------------------------------- apply - */
.btn-apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 18.66667vw;
  background-color: #00c068;
  border-radius: 9.33333vw;
  box-shadow: 0 1.33333vw 0 0 #00914f;
  color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 5.86667vw;
  font-weight: 700;
  border-radius: 9.33333vw;
  text-align: center;
  letter-spacing: .15em;
  transition: .3s;
}

.btn-apply span {
  color: #fcff00;
}

.btn-apply:hover {
  box-shadow: none;
  transform: translate3d(0, 1.33333vw, 0);
}

@media screen and (min-width: 751px) {
  .btn-apply {
    height: 4.86111vw;
    border-radius: 2.43056vw;
    box-shadow: 0 0.34722vw 0 0 #00914f;
    font-size: 1.66667vw;
  }
  .btn-apply:hover {
    transform: translate3d(0, 0.34722vw, 0);
  }
}

@media screen and (min-width: 1441px) {
  .btn-apply {
    height: 70px;
    border-radius: 35px;
    box-shadow: 0 5px 0 #00914f;
    font-size: 24px;
    font-size: 2.4rem;
  }
  .btn-apply:hover {
    transform: translate3d(0, 5px, 0);
  }
}

/* ------------------------------------------- form - */
.form-desc {
  font-size: 3.46667vw;
  text-align: center;
  line-height: 1.7em;
}

.form-desc a {
  position: relative;
  display: inline-block;
  color: #f72a2a;
}

.form-desc a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transition: background-color .3s;
}

.form-desc a:hover:before {
  background-color: #f72a2a;
}

.form-agree {
  margin: 6vw 0 0 0;
  font-size: 4.13333vw;
  font-weight: 700;
  line-height: 1.5em;
  cursor: pointer;
}

.form-agree label {
  cursor: pointer;
}

@media screen and (min-width: 751px) {
  .form-desc {
    font-size: 0.97222vw;
  }
  .form-agree {
    margin: 1.73611vw 0 0 0;
    font-size: 1.04167vw;
    text-align: center;
    line-height: 1.52778vw;
  }
}

@media screen and (min-width: 1441px) {
  .form-desc {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .form-agree {
    margin: 25px 0 0 0;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 22px;
  }
}

/* ------------------------------------------- input - */
.form input[type="email"] {
  padding: .6em 1em;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  width: 100%;
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4.26667vw;
  font-weight: 700;
  letter-spacing: .1em;
}

@media screen and (min-width: 751px) {
  .form input[type="email"] {
    font-size: 1.04167vw;
  }
}

@media screen and (min-width: 1441px) {
  .form input[type="email"] {
    font-size: 15px;
  }
}

/* ------------------------------------------- checkbox - */
.form-check label ~ label {
  margin-left: 4vw;
}

.form-check input[type=checkbox] {
  margin-right: 2.13333vw;
}

.form-check input[type=checkbox] {
  display: none;
}

.form-check label {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 8vw;
}

.form-check input[type=checkbox] + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 5.33333vw;
  height: 5.33333vw;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.form-check input[type=checkbox] + label::after {
  content: '';
  position: absolute;
  top: 0.53333vw;
  left: 1.86667vw;
  display: block;
  width: 1.6vw;
  height: 2.66667vw;
  border-right: 0.8vw solid #f72a2a;
  border-bottom: 0.8vw solid #f72a2a;
  opacity: 0;
  transform: rotate(45deg);
  transition: .3s;
}

.form-check input[type=checkbox]:checked + label::after {
  opacity: 1;
}

@media screen and (min-width: 751px) {
  .form-check label ~ label {
    margin-left: 1.04167vw;
  }
  .form-check input[type=checkbox] {
    margin-right: 0.55556vw;
  }
  .form-check label {
    padding-left: 2.43056vw;
    line-height: 1.38889vw;
  }
  .form-check input[type=checkbox] + label::before {
    width: 1.38889vw;
    height: 1.38889vw;
  }
  .form-check input[type=checkbox] + label::after {
    top: 0.13889vw;
    left: 0.48611vw;
    width: 0.41667vw;
    height: 0.69444vw;
    border-right: 0.20833vw solid #f72a2a;
    border-bottom: 0.20833vw solid #f72a2a;
  }
}

@media screen and (min-width: 1441px) {
  .form-check label ~ label {
    margin-left: 15px;
  }
  .form-check input[type=checkbox] {
    margin-right: 8px;
  }
  .form-check label {
    padding-left: 35px;
    line-height: 20px;
  }
  .form-check input[type=checkbox] + label::before {
    width: 20px;
    height: 20px;
  }
  .form-check input[type=checkbox] + label::after {
    top: 2px;
    left: 7px;
    width: 6px;
    height: 10px;
    border-right: 3px solid #f72a2a;
    border-bottom: 3px solid #f72a2a;
  }
}

/* ------------------------------------------- utils - */
.img--fit {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 750px) {
  .br--pc {
    display: none;
  }
  .br--sp {
    display: block;
  }
}

@media screen and (min-width: 751px) {
  .br--pc {
    display: block;
  }
  .br--sp {
    display: none;
  }
}
